.about {
  display: flex;
  justify-content: center;
  padding: 50px 20px; /* added padding for mobile */
  background: #2c4054;
}

.about-content {
  max-width: 900px;
  text-align: justify;
  color: #fff;
}

.about-intro {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}

.highlight-about-text {
  color: #ceba49;
  font-weight: bold;
}

/* 💻 Tablet screens */
@media screen and (max-width: 768px) {
  /* .about {
    height: max-content;
  } */
  .about-intro {
    font-size: 2rem;
    text-align: left;
  }

  .about p {
    font-size: 1rem;
  }

  .about-content {
    padding: 0 10px;
  }
}

/* 📱 Mobile screens */
@media screen and (max-width: 480px) {
  .about-intro {
    font-size: 1.2rem;
  }

  .about p {
    font-size: 1rem;

    line-height: 1.2;
  }

  /* .about {
    padding: 30px 15px;
  } */
}
