.education-section {

    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.education-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}


.education-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2c4054;
}

.education-card {
    /* background: rgba(255, 255, 255, 0.837); */
    padding: 20px;
    border-radius: 5px;
    /* margin: 20px; */
    width: 900px;
    height: auto;
    transition: background 0.3s ease;
    border-left: #2c4054 10px solid;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    transform: scale(1.01);
    transition: all 0.3s ease;
}

.education-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: right;
}

.education-right {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
}


.education-degree {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #bba31a;
}

.education-institute {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #2c4054;
}

.education-year {
    font-size: 24px;
    color: #aaa;
}

.education-score {
    font-size: 16px;
    color: #01ac12;
}



/* @media (max-width: 768px) {
    .education-card {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .education-right {
        text-align: left;
        margin-top: 10px;
    }

    .education-card {
        width: 90%;
    }
} */
 

@media (max-width: 1024px) {

    .education-card {
      width: 90%;
      padding:  10px 5px;
      border-top: #2c4054 1px solid;
      border-bottom: #2c4054 1px solid;
      /* border-top: #2c4054 1px solid; */

      border-left: 0;
    }
  
    .education-left,
    .education-right {
      gap: 4px;
    }
  
    .education-institute {
      font-size: 18px;
    }
  
    .education-year {
      font-size: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .education-timeline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      
    }
    .education-card {
      flex-direction: column;
      align-items: flex-start;
      width: 90%;
      border-radius: 0;
      margin: 20px 0;
      /* padding: 16px; */
    }
  
    .education-left {
      text-align: left;
    }
  
    .education-title {
      font-size: 2.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .education-title {
      font-size: 1.8rem;
    }
  
    .education-card {
      /* padding: 14px; */
      width: 90%;
    }
  
    .education-degree,
    .education-score {
      font-size: 14px;
    }
  
    .education-institute {
      font-size: 16px;
    }
  
    .education-year {
      font-size: 16px;
    }
  }
  