.experience-section{
    background-color: #2c4054;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}
.experience-entry{
    width: 1100px;
    margin: auto 50px;
}
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    font-size: 20px;
    color: #ceba49;
  }
  
  .experience-left {
    /* max-width: 70%; */
    font-weight: bold;
    /* text-align: left; */
    color: #ceba49;
  }
   
  /* .experience-left br + span {
    font-weight: normal;
    font-style: italic;
  } */
  
  .experience-right {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #ceba49;
    white-space: nowrap;
  }
  
  .experience-details {
    margin-top: 10px;
    font-size: 18px;
    line-height: 2;
    color: #ffffff;

    max-width: 90%;
    text-align: justify;


  }
  
  .experience-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  @media screen and (max-width: 1200px) {
    .experience-entry {
      width: 90%;
      margin: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .experience-section {
      padding: 50px 20px; 
    }
    .experience-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .experience-right {
      text-align: left;
      font-size: 16px;
    }
  
    .experience-details {
      font-size: 16px;
      line-height: 1.8;
    }
  
    .experience-entry {
      width: 90%;
      margin: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {

  
    .experience-left,
    .experience-right {
      font-size: 16px;
    }
  
    .experience-details {
      font-size: 15px;
      line-height: 1.6;
    }
  }
  