/* Hero Section Styles */
/* Hero Section Styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 1rem 7rem;
  background-color: #ffffff;
  position: relative;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.hero-content p {
  font-size: 1.2rem;
  color: #555;
  margin: 1.5rem 0;
}

.hero-buttons {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero-buttons button {
  padding: 0.8rem 1rem;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-me {
  background-color: #2c4054;
  color: white;
}

.view-resume:hover {
  background-color: #2c4054;
  color: white;
}

.hero-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-container img {
  width: 450px;
  height: auto;
  z-index: 2;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

/* Tablet & small desktop */
@media screen and (max-width: 1030px) {
  .hero {
    margin-top: 80px;
    flex-direction: column-reverse;
    padding: 2rem 3rem;
    text-align: center;
    height: auto;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 2.2rem;
    margin-top: 40px;
  }

  .hero-content p {
    font-size: 1.1rem;
  }

  .hero-buttons {
    justify-content: center;
    gap: 1rem;
  }

  .hero-image-container img {
    width: 300px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 1rem;
    height: auto;
    text-align: center;
  }

  .hero-content {
    padding: 0;
  }

  .hero-content h1 {
    margin-top: 10px;
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 0.75rem;
  }

  .hero-buttons button {
    width: 100px;
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
  }

  .hero-image-container {
    margin-top: 1.5rem;
  }

  .hero-image-container img {
    width: 250px;
  }
}
