.projects-section {

    text-align: center;
    background-color: #f1f1f1;
    margin: 100px 100px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 1.5rem;
    justify-items: center;
    align-items: center;
  }
  
  .project-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 350px;
    min-height: 550px;
  }
  
  .project-card:hover {
    transform: translateY(-7px);
    transition: all 0.3s ease;
    
  }
  
  .project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-content {
    padding: 1rem;
  }
  
  .tech-stack {
    margin: 0.5rem 0;
  }
  
  .tech-tag {
    display: inline-block;
    background-color: #eee;
    color: #333;
    padding: 0.25rem 0.6rem;
    margin: 0.2rem;
    border-radius: 20px;
    font-size: 0.8rem;
  }
  
  .project-links a {
    margin-right: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .project-links a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1200px) {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  
    .projects-section {
      margin: 80px 60px;
    }
  }
  @media screen and (max-width: 1030px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  
  }
  @media screen and (max-width: 992px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .projects-section {
      margin: 60px 40px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
    .project-card {
      width: 300px;
      min-height:auto;
    }
  
    .projects-section {
      margin: 40px 20px;
    }
  
    .project-img {
      height: 180px;
    }
  
    .tech-tag {
      font-size: 0.75rem;
    }
  
    .project-links a {
      font-size: 0.9rem;
    }
  }
  