@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 body{

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f4f4f4;
 }
 .section-title-light{
   font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
 }
 .section-title-dark{
   font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2c4054;
 }